@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&amp;subset=cyrillic');
@import "~bootstrap/scss/bootstrap";
//Tools
@import "tools/variables";
//Modules
@import "modules/mainContent";

body {
  font-family: $mainFontCaveat;
  font-weight: $fontWeight400;
  font-size: 24px;
}

canvas {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}